language: python
python:
    - 3.7

services:
    -docker

before_script: pip install docker-compose

#Create local container
script:
     - docker-compose run app sh -c "python manage.py && flake8"

